.createcontact{
   .contactlistbutton{
   width: 17vw;
    font-size: 20px;
    margin: 12px;
   }
    .form{
       .h1{
    color: red;
     }
     .buttonsave{
        width: 12vw;
        margin: 1vw 0vh 0vw 10vh;
        font-size: 21px;

     }
        margin: 4vw 11vh 12vw 84vh;
        width: 26vw;
        font-size: 20px;
    }
}

